input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button{
  font-size: 16px;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block
}

.center{
  text-align: center;
}

.editbtn{
  background-color:#63c6ca;
}

.logoutbtn{
  background-color:#0f8a1df7;
}

.deletebtn{
  background-color:red;
}
