header {
  width:100%;
  position: fixed;
  height: 70px;
  border-bottom: solid 1px #cfd6d6;
  background-color: white;
}

.name-container {
  height: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20%;
  box-sizing: border-box;
  display: inline-block;
  position: fixed;
}

img.logo {
  width: 50px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: auto;
  display: inline-block;
  position: absolute;
}

.app-title {
  margin-left: 70px;
  margin-top: 10px;
  line-height: 25px;
  display: inline-block;
  position: relative;
  font-size: 18px;
  white-space: nowrap;
  color: #738989;
}

.items-container {
  margin-left: auto;
  height: 70px;
  padding-bottom: 10px;
  width: 80%;
  left: 65%;
  box-sizing: border-box;
  display: inline-block;
  position: relative;

}

.items-list {
  margin: auto;
  margin-top: 25px;
  display: inline-block;
  position: relative;
  font-size: 16px;
  white-space: nowrap;
}

.header-menu-item {
  margin-left: 15px;
  margin-right: 10px;
  font-weight: 100;
  display: inline-block;
}

.header-links {
  display: inline-block;
}

.header-home {
  background-color: #738989;
  border-radius: 50%;
  color: white;
  padding: 14px 0px;
  margin: 8px 10px;
  border: none;
  cursor: pointer;
  width: 100px;
  text-align: center;
  margin-right: auto;
  display: inline-block;
  text-decoration: none;
  font-size:16px;
}

.header-login {
  background-color: #738989;
  border-radius: 50%;
  color: white;
  padding: 14px 0px;
  margin: 8px 10px;
  border: none;
  cursor: pointer;
  width: 70px;
  text-align: center;
  margin-right: auto;
  display: inline-block;
  text-decoration: none;
}

.welcome {
  text-align: center
}

a:hover {
  opacity: 0.8;
}
