$twilight: #5a54a4;
$grey-text: rgba(115, 115, 115, 0.83);
$banana-yellow: #ffee48;
$light-grey: #fdfdfd;
$medium-grey: #f7f7f7;
$dark-blue: #33315a;
$white: #fff;
$reddish: #ff5151;
$placeholder: #c7c7c7;
$grey-border: #9b9b9b;
$menu-shadow: rgba(90, 84, 164, 0.35);
$dark-text: #4a4a4a;

$gradientStart: #5954a5;
$gradientEnd: #332795;

$active: $dark-blue;
