body {font-family: Arial, Helvetica, sans-serif;}

.login-container {
  padding-top: 20px;
  width: 80%;
  margin: auto;
}

.content-container {
  display: flex;
}

.start-now {
  width:100%;
  margin: 20px 0px;
}

.login-text, .login-form {
  width: 50%;
}

.meeting-img {
  width:200%;
}

.login-form form input[type=email], .login-form form input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn-login {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
