.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.logo {
  width: 15%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block
}

.container {
  padding: 16px;
}

.App-title {
  text-align: center;
}
